{% extends 'front/template.html' %}

{% block content_title %}{{ title }}{% endblock %}

{% block content_body %}
    <div class="div_forms_user">
        <h1>{{ title }}</h1>
        <form class="form_user" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p class="forms_nesesary">{{ form.username }}</p>
            <p class="forms_nesesary">{{ form.password1 }}</p>
            <p class="forms_nesesary">{{ form.password2 }}</p>
            <p>{{ form.avatar }}</p>
            <p>{{ form.email }}</p>
            <p>{{ form.age }}</p>
            <p>{{ form.first_name }}</p>
            <p>{{ form.last_name }}</p>
            <button class="btn btn-success" type="submit">Зарегистрироваться</button>
            <a href="{% url 'authapp:login' %}" class="btn btn-info">Войти</a>
        </form>
    </div>
{% endblock %}